@use "spacing";
@use "breakpoints";

@mixin get($i) {
    width: calc(100% - 2 * #{spacing.get($i)});
    margin-right: auto;
    margin-left: auto;
}

@mixin display($size) {
    display: none;

    @include breakpoints.min($size) {
        display: block;
    }
}
