@use "sass:math";
@use "breakpoints";
@use "../vendor/rfs" with (
    $rfs-breakpoint: breakpoints.get(xl),
    $rfs-breakpoint-unit: rem
);

$base-font-size: 1rem;
$base-ratio: 1.333;

@function modular-scale($scale) {
    @return math.pow($base-ratio, $scale) * $base-font-size;
}

$_text-sizes: (
    sm: modular-scale(-1),
    md: modular-scale(1),
    lg: modular-scale(2),
    xl: modular-scale(3),
    xxl: modular-scale(4),
    xxxl: modular-scale(5),
    xxxxl: modular-scale(8),
);

:root {
    @each $name, $size in $_text-sizes {
        @include rfs.rfs($size, --text-size--#{$name});
    }
}

@function get($size) {
    @return var(--text-size--#{$size});
}
