@use "../config/colors" as *;
@use "../config/spacing" as *;
@use "../config/breakpoints" as *;

.blockquote {
    border-left: 3px solid color-get(primary, 500);
}

.bg-blur {
    @include breakpoint(sm) {
        padding: spacing-get(xl);
    }

    background-color: hsla(240, 6%, 10%, 0.3);
    border-radius: 16px;
}

.bg-article {
    display: flex;
    height: 500px;
    background: url(/test.jpg?) no-repeat center top;
    background-size: cover;

    @include breakpoint(md, 'not all') {
        display: block;
        height: auto;
    }
}

.hidden {
    visibility: hidden;
}

.icon {
    width: 20px;
    height: 20px;
}

.eye {
    position: absolute;
    top: spacing-get(xs);
    transition: background-color 0.3s var(--ease-out);
    transform: scale(0.85);

    &--left {
        left: spacing-get(xs);
    }

    &--right {
        right: spacing-get(xs);
    }

    &:hover {
        background-color: color-get(primary, 200) !important;
        color: color-get(primary, 500) !important;
    }
}

.rounded-full {
    border-radius: 50%;
}
