@use "../config/spacing" as *;
@use "../config/colors" as *;
@use "../config/breakpoints" as *;

.icon-search {
    position: absolute;
    width: 24px;
    height: 24px;
    margin-top: 48px;
    margin-left: 16px;
    fill: color-get(contrast, 400);

    @include breakpoint(xl, 'not all') {
        margin-top: 44px;
    }
}
