@use "../config/spacing" as *;
@use "../config/breakpoints" as *;

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__list {
        display: none;

        @include breakpoint(sm) {
            display: flex;
            column-gap: spacing-get(xl);
        }
    }
}
