@use "../config/colors" as *;
@use "../config/breakpoints" as *;
@use "../config/spacing" as *;

.tag-list {
    @include breakpoint(md, 'not all') {
        height: 218px;
    }
}

.resultat {
    &::before {
        content: '- ';
    }

    @include breakpoint(sm, 'not all') {
        display: block;
        margin-top: spacing-get('2xs');

        &::before {
            content: '';
        }
    }
}

.tag {
    border: 0;
    transition: 0.5s;

    &:hover {
        background-color: color-get(contrast, 200);
    }

    &--selected {
        &:hover {
            background-color: color-get(error, 100);
        }
    }

    span {
        transition: 0.5s;

        &:hover {
            color: color-get(error, 600);
        }
    }
}
