@use "../config/colors" as *;
@use "../config/breakpoints" as *;

.tag-list {
    @include breakpoint(md, 'not all') {
        height: 218px;
    }
}

.tag {
    border: 0;
    transition: 0.5s;

    &:hover {
        background-color: color-get(contrast, 200);
    }

    &--selected {
        &:hover {
            background-color: color-get(error, 100);
        }
    }

    span {
        transition: 0.5s;

        &:hover {
            color: color-get(error, 600);
        }
    }
}
