@use "../config/colors" as *;
@use "../config/breakpoints" as *;
@use "../config/spacing" as *;

:root {
    --tag-color: var(--color-contrast-100);
    --tag-color-hover: var(--color-contrast-200);
    --tag-color-error: #{color-pure-get(error, 200)};
    --tag-color-error-hover: #{color-pure-get(error, 100)};
}

.tag-list {
    @include breakpoint(md, 'not all') {
        height: 218px;
    }
}

.resultat {
    &::before {
        content: '- ';
    }

    @include breakpoint(sm, 'not all') {
        display: block;
        margin-top: spacing-get('2xs');

        &::before {
            content: '';
        }
    }
}

.tag {
    border: 0;
    transition: 0.3s;

    background-color: var(--tag-color);

    &:hover {
        background-color: var(--tag-color-hover);
    }

    &--selected {
        background-color: var(--tag-color-error);
        &:hover {
            background-color: var(--tag-color-error-hover);
        }
    }

    span {
        transition: 0.3s;

        &:hover {
            color: color-get(error, 600);
        }
    }
}
