@use "breakpoint-suffix" as *;
@use "breakpoints";

$displays: (
    block,
    flex,
    inline-block,
    inline-flex,
    inline,
    contents,
    none
);

@mixin generate-display($breakpoint: '') {
    $breakpoint-suffix: breakpoint-suffix($breakpoint);

    @each $value in $displays {
        .#{$value}#{$breakpoint-suffix} {
            display: $value;
        }
    }
}

@include generate-display();

@each $breakpoint, $value in breakpoints.$breakpoints {
    @include breakpoints.get($breakpoint) {
        @include generate-display($breakpoint);
    }

    @include breakpoints.get($breakpoint, 'not all') {
        .display\@#{$breakpoint} {
            display: none !important;
        }
    }
}
