@use "sass:map";
@use "breakpoints";

$base-size: 1em;
$scale-ratio: 1.2;

$xs: ($base-size / $scale-ratio) / $scale-ratio;
$sm: $xs * $scale-ratio;
$md: $sm * $scale-ratio * $scale-ratio;
$lg: $md * $scale-ratio;
$xl: $lg * $scale-ratio;
$xxl: $xl * $scale-ratio;

$size: (
    xs: $xs,
    sm: $sm,
    md: $md,
    lg: $lg,
    xl: $xl,
    2xl: $xxl
);

:root {
    --base-ratio: #{$scale-ratio};
    --base-size: #{$base-size};
    --text-xs: calc((var(--base-size, #{$base-size}) / var(--text-scale-ratio, #{$scale-ratio})) / var(--text-scale-ratio, #{$scale-ratio}));
    --text-sm: calc(var(--text-xs, #{$xs}) * var(--text-scale-ratio, #{$scale-ratio}));
    --text-md: calc(var(--text-sm, #{$sm}) * var(--text-scale-ratio, #{$scale-ratio}) * var(--text-scale-ratio, #{$scale-ratio}));
    --text-lg: calc(var(--text-md, #{$md}) * var(--text-scale-ratio, #{$scale-ratio}));
    --text-xl: calc(var(--text-lg, #{$lg}) * var(--text-scale-ratio, #{$scale-ratio}));
    --text-2xl: calc(var(--text-xl, #{$xl}) * var(--text-scale-ratio, #{$scale-ratio}));

    @include breakpoints.get(md) {
        --text-base-size: 1.25em;
        --text-scale-ratio: 1.25;
    }
}

.text-xs { font-size: var(--text-xs, #{$xs}); }
.text-sm { font-size: var(--text-sm, #{$sm}); }
.text-md { font-size: var(--text-md, #{$md}); }
.text-lg { font-size: var(--text-lg, #{$lg}); }
.text-xl { font-size: var(--text-xl, #{$xl}); }
.text-2xl { font-size: var(--text-2xl, #{$xxl}); }

@mixin get($s) { @extend .text-#{$s}; }

@function get($s) {
    @return var(--text-#{$s}, #{map.get($map: $size, $key: $s)});
}
