@use "ratio";

$typeface-sans: ui-sans-serif, system-ui, -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif;

$line-height: 1.4;

:root {
    --typeface-sans: #{$typeface-sans};
    --base-line-height: #{$line-height};
}

body {
    font-family: var(--typeface-sans, $typeface-sans);
    font-size: var(--base-size, ratio.$base-size);
    line-height: var(--base-line-height, $line-height);
}

small { @extend .text-sm; }

.text-uppercase { text-transform: uppercase; }
.text-capitalize { text-transform: capitalize; }

.font-light { font-weight: 300; }
.font-normal { font-weight: 400; }
.font-medium { font-weight: 500; }
.font-semibold { font-weight: 600; }
.font-bold { font-weight: 700; }

.font-smooth {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-justify { text-align: justify; }
