@use "../tools/spacing";
@use "../tools/container";
@use "../tools/max-width";

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: spacing.get(lg);

    &__filtre {
        @include container.get(md);
        @include max-width.get(xl);

        margin-top: spacing.get(lg);
    }

    &__span {
        margin-left: spacing.get(sm);
    }
}
