/*
	* Dany Gagnon reset CSS
	* Version: 1.0
*/

@mixin border-box() {
    html {
        box-sizing: border-box;
    }

    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }
}

$_headings-tags: (h1, h2, h3, h4, h5, h6);

$_tags-with-margins: (
    #{$_headings-tags},
    body,
    p,
    blockquote,
    dd,
    dl,
    figure,
    hr,
    ol,
    ul,
    pre,
    fieldset,
    input
);

$_italic-tags: (dfn, cite, em, i, var);

$_bold-tags: (b, strong);

$_tags-with-fonts: (
    #{$_headings-tags},
    pre,
    code,
    #{$_italic-tags},
    kbd,
    mark,
    samp,
    small,
    #{$_bold-tags},
    sub,
    sup,
    th,
    button,
    input,
    optgroup,
    option,
    select,
    textarea
);

$_tags-with-paddings: (
    'blockquote[type="cite"]',
    ul,
    ol,
    td,
    th,
    button,
    fieldset,
    input,
    legend,
    option,
    textarea
);

$_tags-with-borders: (
    'blockquote[type="cite"]',
    hr,
    iframe,
    table,
    button,
    "button:active",
    "button:active:disabled",
    fieldset,
    input,
    select,
    textarea
);

$_tags-with-colors: (
    a,
    hr,
    "a:visited",
    "a:active",
    mark,
    button,
    input,
    select
);

$_tags-with-decorations: (a, "abbr[title]", s, u, del, ins);

$_tags-with-vertical-align: (sub, sup, tbody, td, tfoot, th, thead, tr);

$_tags-text-aligning: (caption, button, input);

$_tags-align-items: (button, input, select);

$_tags-with-backgrounds: (mark, iframe, button, input, select, textarea);

/* Applies a global border box */
@include border-box;

/* list styling */
ol,
ul {
    list-style: none;
}

/* table initial border spacing */
table {
    border-spacing: initial;
}

/* q removing quotes */
q::before,
q::after {
    content: "";
}

/* removing background-color */
#{$_tags-with-backgrounds} {
    background-color: transparent;
}

/* resetting the vertical align */
#{$_tags-with-vertical-align} {
    vertical-align: baseline;
}

/* text-align to default value */
#{$_tags-text-aligning} {
    text-align: left;
}

/* align items to default value */
#{$_tags-align-items} {
    align-items: stretch;
}

/* reset tags with borders */
#{$_tags-with-borders} {
    border: 0;
}

/* reset tags with padding */
#{$_tags-with-paddings} {
    padding: 0;
}

/* reset tags with margins */
#{$_tags-with-margins} {
    margin: 0;
}

/* reset the color to inherit */
#{$_tags-with-colors} {
    color: inherit;
}

/* remove any text-decorations from these tags */
#{$_tags-with-decorations} {
    text-decoration: none;
}

/* remove font specific styling by inheriting */
#{$_tags-with-fonts} {
    font: inherit;
}
