@use "../typography" as *;

@each $typography-size-key, $typography-size-value in $typography-sizes {
    .text-#{$typography-size-key} {
        font-size: typography-size-get($typography-size-key);
    }
}

.font-italic {
    font-style: italic;
}

.font-normal {
    font-weight: 400;
}

.font-bold {
    font-weight: 500;
}
